.page-testimonials-list {
  background-image: url("../images/t.svg");
  background-repeat: no-repeat;
  background-size: 115%;
  background-position: 49px -40px;
  @include media-breakpoint-up(sm) {
    background-size: 90%;
    background-position: 159px -40px;
  }
  @include media-breakpoint-up(md) {
    background-size: 85%;
    background-position: 199px -80px;
  }
  @include media-breakpoint-up(lg) {
    background-size: 15%;
    background-position: 70% 50px;
  }
}
